@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0a0b0e] text-[#f4f5f8] font-sans antialiased selection:bg-[#ff6b00] selection:text-white;
    font-family: 'Lexend', sans-serif;
  }

  * {
    border-radius: 2px !important;
  }
}

/* Render Dashboard Custom Scrollbars */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #0a0b0e;
}
::-webkit-scrollbar-thumb {
  background: #1e2029;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #262936;
}
